*{
    margin: 0;padding: 0;box-sizing: border-box;font-family: poppins;
}
header{
    background-color: #ffb703;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px ;
}
.right ul{
    display: flex;
    gap: 20px;
}
.right li{
    list-style: none;
}
.right a{
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.right li a:hover{
    text-decoration: underline;
}
.slider{
background-image: url(berger.avif);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  
    
}
.hb{
    text-align: center;
    z-index: 2;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  top: 20vh;
  gap: 10px;
  font-size: 30px;
   
}
.buttans{
    text-decoration: none;
    background-color: #ffb703;
    border: solid #ffb703;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    transition: all 300ms;

}
.buttans:hover{
    background-color: white;
    color: #ffb703;
    border: solid #fff;
}
.box{
    height: 60vh;
    width: 100%;
    background-color: black;
    opacity: .4;
    position: absolute;
    top: 0;
    z-index: 1;
   
}
.maindiv{
    position: relative;
}
.other{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}
.box1{
    width: 333px;
    height: 150px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0.4, 0.4, 0.4, 0.4);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    transition: all 300ms;
   
}


.box1 h2{
    margin-top: 5px;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 24px;
    
}
.box1 p{
    margin-top: 5px;
    
    
}
.box1:hover{
     transform: scale(1.1);
     background-color: #ffb703;
     color: white;
    
}
.mainbox1{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
}
footer{
    margin-top: 20px;
    text-align: center;
    background-color: #ffb703;
    padding: 20px;
    color: white;
}
.bg{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 25px;
}
.f1{
    font-size: 15px;
}
.mainabout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.l{
    width: 800px;
    height: 380px;
}
.l img{
    width: 100%;
    height: 100%;
}
.r{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;


}
.r a{
    text-decoration: none;
    background-color: #ffb703;
    border: solid #ffb703;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    transition: all 300ms;
    width: 130px;
    text-align: center;
    
}
.r a:hover{
    background-color: white;
    color: #ffb703;
    border: solid #ffb703;
}

.r span{
    color: #ffb703;
}
.most{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

}
.most span{
    color: #ffb703;
}
.diba{
    width: 310px;height: 310px;
    background-color: #ffb703;
}
.diba img{
    width: 100%;
}
.d{
    width: 200px;height: 100px;
    background-color: #ffb703;
}
.d img{
    width: 100%;
     height: 100%;
    object-fit: cover;

}
.dd{
    width: 200px;height: 100px;
    background-color: #ffb703;
}
.dd img{
    width: 100%;
     height: 100%;
    object-fit: cover;
    
}
.diba2{
    
    width: 410px;height: 200px;
    background-color: #ffb703;


}
.diba2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.maindida3{
    display: flex;
    align-items: end;
}
.maindiba{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin: 10px;
    gap: 10px;
    align-items: center;
}
.maindiba2{
    display: flex;
    align-items:top;
    justify-content: center;
    gap: 10px;
}
.mn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.mainrice{
    /* background-color: #ffb703; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.rice img{
    width: 250px;

}
.rice{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.rice a{
    background-color: white;
    padding: 5px 10px;
    text-decoration: none;
    border: solid white;
    border-radius: 5px;
    color: #ffb703;
    font-size: 20px;
    font-weight: 600;
    width: 130px;
    text-align: center;
    margin: auto;
    transition: all 300ms;
}
.rice a:hover{
    background-color:#ffb703;
    color: white;
    border: solid white;
}
.ourmenu{
    text-align: center;
    margin-top: 40px;
    background-color: #ffb703;
    padding: 40px;
    color: white;
}
.ourmenu p{
    width: 50%;
    margin: auto;
}